/* JS file for fonts was reloading on every activity on the screen.
We used a CSS file for fonts to fix this issue. */
@font-face {
	font-family: "Pretendard-Regular";
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
